<div class="flex flex-col items-center justify-center pt-32 pb-20 opacity-80">
  <div class="relative w-[100px] h-[100px] mb-2 flex items-center justify-center">
    <!-- Box Base -->
    <svg width="84" height="84" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" class="text-[#3A3F4A]">
       <path d="M4 8L12 4L20 8M4 8V16L12 20M4 8L12 12M20 8V16L12 20M20 8L12 12M12 20V12" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
    </svg>
    <!-- Paper Plane -->
    <svg width="32" height="32" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" class="absolute -top-1 -right-2 text-[#4B5263] rotate-[15deg]">
       <path d="M22 2L11 13" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
       <path d="M22 2L15 22L11 13L2 9L22 2Z" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
    </svg>
  </div>
  <span class="text-[#6B7280] text-[13px] font-medium tracking-wide">No Records</span>
</div>
