.filter-pill-btn {
  @apply w-full h-[42px] rounded-[6px] bg-[#252830] text-[#ADB6C3] text-[11px] font-bold transition-all border border-white/5 flex items-center justify-center text-center px-1;
  
  &.active {
    @apply border-[#F1C15A] text-[#F1C15A] bg-[#252830] shadow-[inset_0_0_10px_rgba(241,193,90,0.1)];
  }
  
  &:active {
    @apply scale-95 opacity-80;
  }
}

.filter-dropdown {
  @apply flex items-center justify-between gap-1 px-2.5 py-1.5 rounded-full bg-[#1A2128]/60 border border-white/[0.05] shadow-sm cursor-pointer transition-all active:scale-95 w-full overflow-hidden h-[34px];
  
  span {
    @apply text-[#ADB6C3] text-[10.5px] font-bold whitespace-nowrap overflow-hidden text-ellipsis;
  }
  
  ion-icon {
    @apply text-[9px] text-[#5B626C] shrink-0;
  }
}

.bonus-summary {
  @apply flex items-center gap-1.5 px-1;
  .label { @apply text-[#ADB6C3] text-[12px] font-bold; }
  .value { @apply text-[#F1C15A] text-[14px] font-black; }
}

.filter-dropdown-menu {
  @apply absolute top-[calc(100%+8px)] left-0 min-w-[140px] bg-[#1A1C22] border border-white/[0.08] rounded-xl shadow-2xl z-50 p-2 py-4 space-y-5 flex flex-col;
  
  .menu-item {
    @apply text-[#ADB6C3] text-[16px] font-bold px-4 transition-colors cursor-pointer block w-full;
    
    &.active {
      @apply text-[#F1C15A];
    }
    
    &:active {
      @apply opacity-60;
    }
  }
}

button {
  outline: none;
  background: transparent;
  border: none;
  cursor: pointer;
}
