<ion-modal [isOpen]="isOpen" class="find-us-modal" (didDismiss)="dismiss()">
  <ng-template>
    <div class="modal-wrapper">
      <div class="modal-card">
        <!-- Title Bar -->
        <div class="modal-title-bar">
          <div class="title-content">
            <div class="title-icon-wrap">
              <ion-icon name="globe-outline"></ion-icon>
            </div>
            <span>Find us</span>
          </div>
        </div>

        <!-- Content -->
        <div class="modal-content">
          <!-- Info Box -->
          <div class="info-box">
            <ion-icon name="checkmark-circle" class="check-icon"></ion-icon>
            <p>In case the website cannot be opened, please save our URL or email address to avoid losing your way home!</p>
          </div>

          <!-- URL Section -->
          <div class="url-section">
            <div class="section-header">
              <div class="header-left">
                <div class="www-badge">www</div>
                <span>Save URL</span>
              </div>
              <div class="copy-all" (click)="copyAll()">
                <ion-icon name="copy-outline"></ion-icon>
                <span>Copy all</span>
              </div>
            </div>

            <div class="domain-list">
              <h3 class="simple-title">Simple domain name</h3>
              <ul class="simple-domains">
                <li>bp999.site</li>
                <li>bp999.me</li>
                <li>bp999.org</li>
              </ul>

              <div class="home-urls">
                <div class="url-item" (click)="copyToClipboard('www.bp999.site')">
                  <span class="label">Home URL</span>
                  <span class="value">www.bp999.site</span>
                  <ion-icon name="copy-outline" class="copy-icon"></ion-icon>
                </div>
                <div class="url-item" (click)="copyToClipboard('www.bp999.me')">
                  <span class="label">Home URL</span>
                  <span class="value">www.bp999.me</span>
                  <ion-icon name="copy-outline" class="copy-icon"></ion-icon>
                </div>
                <div class="url-item" (click)="copyToClipboard('www.bp999.org')">
                  <span class="label">Home URL</span>
                  <span class="value">www.bp999.org</span>
                  <ion-icon name="copy-outline" class="copy-icon"></ion-icon>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Footer Overlay -->
      <div class="footer-overlay">
        <div class="checkbox-item" (click)="toggleDontShow()">
          <div class="custom-checkbox" [class.checked]="dontShowToday">
            @if (dontShowToday) {
              <ion-icon name="checkmark" class="check-mark"></ion-icon>
            }
          </div>
          <span>Don't show again today</span>
        </div>
        
        <div class="close-container" (click)="dismiss()">
          <div class="close-btn">
            <ion-icon name="close-outline"></ion-icon>
          </div>
        </div>
      </div>
    </div>
  </ng-template>
</ion-modal>

